/*top level grid*/
.layout {
  display: grid;
  grid-template-columns: 1.7fr repeat(4, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.enemyLayout {
  display: grid;
  grid-template-columns: 1.7fr repeat(4, 2fr);
}

.perks {
  grid-area: 1 / 1 / 2 / 2;
}

.military {
  grid-area: 1 / 2 / 2 / 6;
}

/*control center layout*/

.controlCenter {
  /*where it sits in the top level layout*/
  display: grid;
  grid-template-columns: 4fr 2fr;
}
